<div class="list-group-item">

    <div class="d-flex justify-content-between align-items-center">

        <strong>
            {{ comment.author }}
        </strong>

        <small>
            {{ comment.create_at }}
        </small>

    </div>

    <div class="markdown-body mt-2 mb-2">
        {{ comment.get_markdown }}
    </div>

    <div class="d-flex align-items-center gap-2">

        <!-- Comment like-->
        <button
            type="button"
            class="btn btn-sm comment-vote-btn {% if comment.user_vote == 1 %}active-like{% endif %}"
            data-comment-id="{{ comment.id }}"
            data-value="1">
            👍
            <span id="comment-likes-{{ comment.id }}">
                {{ comment.likes_count }}
            </span>

        </button>

        <button
            type="button"
            class="btn btn-sm comment-vote-btn {% if comment.user_vote == -1 %}active-dislike{% endif %}"
            data-comment-id="{{ comment.id }}"
            data-value="-1">
            👎
            <span id="comment-dislikes-{{ comment.id }}">
                {{ comment.dislikes_count }}
            </span>
        </button>


        <!-- Reply -->
        {% if user.is_authenticated %}
            <button type="button" class="btn btn-sm btn-outline-secondary reply-btn" data-comment-id="{{ comment.id }}">
                Reply
            </button>
        {% endif %}

        <!-- Edit / Delete -->
        {% if user == comment.author %}
            <a href="{% url 'edit_comment' comment.id %}" class="btn btn-sm btn-outline-primary">
                Edit
            </a>
            <a href="{% url 'delete_comment' comment.id %}" class="btn btn-sm btn-outline-danger"
                onclick="return confirm('Are you sure want to delete this comment?');">
                Delete
            </a>
        {% endif %}

    </div>

    <!-- Reply form -->
    {% if user.is_authenticated %}

        <form method="post" class="reply-form mt-3 d-none" id="reply-form-{{ comment.id }}">

            {% csrf_token %}
            <input type="hidden" name="parent_id" value="{{ comment.id }}">
            <input type="hidden" name="comment_submit" value="1">

            <div class="mb-2">
                <textarea name="content" class="form-control" rows="2" placeholder="Write a reply..." required></textarea>
            </div>

            <button type="submit" class="btn btn-sm btn-primary">
                Send reply
            </button>

        </form>
    
    {% endif %}

    <!-- Nested replies -->

    {% if comment.replies.all %}

        <div class="ms-4 mt-3">

            {% for reply in comment.replies.all %}

                {% include 'blog/comment.html' with comment=reply %}

            {% endfor %}

        </div>

    {% endif %}

</div>