{% extends 'blog/base.html' %}

{% block content %}

<h2 class="mb-4">Edit post</h2>

<form method="post" class="card p-4 shadow-sm">
    {% csrf_token %}

    <div class="mb-3">
        <label class="form-label">Title</label>
        {{ form.title }}
    </div>

    <div class="mb-3">
        <label class="form-label">Content</label>
        {{ form.content }}
    </div>

    <div class="mb-3">
        <label class="form-label">Tags</label>
        {{ form.tags }}
    </div>

    <button class="btn btn-primary">Save</button>
</form>

{% endblock %}