<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/github-markdown-css/5.5.1/github-markdown.min.css">

        <title>{{ post.title }}</title>
        {% load avatar_tags %}
    </head>

    <body>
        <!-- Post managing -->
        {% if user == post.author %}
            <a href="{% url 'edit_post' post.id %}" class="btn btn-warning">✏️ Edit</a>
            <a href="{% url 'delete_post' post.id %}" class="btn btn-danger">🗑️ Delete</a>
        {% endif %}

        <!-- Use (avatar and name) -->
        {% if user.is_authenticated %}
            <div class="d-flex align-items-center mb-2">
                {% avatar user size=40 %}
                <span class="ms-2" >{{ user.username }}</span>
            </div>
        {% endif %}

        <!-- Title and info -->
        <h1>{{ post.title }}</h1>
        <p class="text-muted">Author: {{post.author}} | {{ post.created_at }}</p>

        <!-- Likes --> 
        <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
        <button id="like-btn" class="btn btn-sm btn-outline-primary"
                data-post-id="{{ post.id }}" data-liked="{{ is_liked|yesno:"yes,no" }}">
            {% if is_liked %}💙{% else %}🤍{% endif %}
            <span id="like-count"> {{ total_likes}}</span> likes
        </button>

        <!-- JS for updating Likes -->
        <script>
            document.addEventListener('DOMContentLoaded', function() {
                const likeBtn = document.getElementById('like-btn');

                likeBtn.addEventListener('click', function (e) {
                    e.preventDefault(); // prevent the form sending
                    const postId = this.dataset.postId;
                    const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;

                    fetch(`/post/${postId}/like/`, {
                        method: 'POST',
                        headers: {
                            'X-CSRFToken': csrftoken,
                            'X-Requested-With': 'XMLHttpRequest'
                        }
                    })
                    .then(response => response.json())
                    .then(data => {
                        const icon = data.is_liked ? '💙': '🤍';
                        likeBtn.innerHTML = `${icon} <span id="like-count">${data.total_likes}</span> likes`;
                    })
                    .catch(error => console.error('Error:', error));
                });
            });
        </script>

        <!-- The post content -->
        <div class="markdown-body mb-3">{{ post.get_markdown }}</div>

        <!-- Back -->
        <a href="{% url 'post_list' %}">← Back</a>

        <hr>

        <!--Comments-->
        <h4>Comments ({{comments.count}})</h4>

        <ul class="list-group mb-3">
            {% for comment in comments %}
            <li class="list-group-item">
                <strong>{{ comment.author }}</strong> - {{ comment.created_at }}
                <div class="markdown-body mb-2">{{ comment.get_markdown }}</div>

                {% if user == comment.author %}
                    <a href="{% url 'edit_comment' comment.id %}">Edit</a> |
                    <a href="{% url 'delete_comment' comment.id %}" class="text-danger"
                        onclick="return confirm('Are you sure you want to delete this comment?');">Delete</a>
                {% endif %}
            </li>
        {% empty %}
            <li class="list-group-item">No comments</li>
        {% endfor %}
        </ul>

        <!--Add the comment-->
        {% if user.is_authenticated %}
            <h5>Add comment</h5>
            <form method="post" class="mt-4">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" name="comment_submit" class="btn btn-primary">Send</button>
            </form>
        {% else %}
            <p><a href="{% url 'login' %}">Enter</a> to leave a comment</p>
        {% endif %}

    </body>
</html>