{% extends 'blog/base.html' %}
{% load avatar_tags %}

{% block content %}

<div class="card shadow-sm p-4">

    <!-- Author -->
    <div class="d-flex align-items-center mb-3">
        <a href="{% url 'profile' post.author.username %}" class="d-flex align-items-center text-decoration-none text-dark">
            {% avatar post.author size=40 %}
            <span class="ms-2">{{ post.author.username }}</span>
        </a>
    </div>

    <h2>{{ post.title }}</h2>
    <p class="text-muted">{{ post.created_at }}</p>

    <!-- Likes --> 
    <button class="btn btn-sm vote-btn {% if user_vote == 1 %}active-like{% endif %}"
            id="like-btn-{{ post.id }}"
            data-post-id="{{ post.id }}"
            data-value="1">
        👍
        <span id="likes-{{ post.id }}"> {{ post.likes_count}}</span>
    </button>

    <button class="btn btn-sm vote-btn {% if user_vote == -1 %}active-dislike{% endif %}"
            id="dislike-btn-{{ post.id }}"
            data-post-id="{{ post.id }}"
            data-value="-1">
        👎
        <span id="dislikes-{{ post.id }}">{{ post.dislikes_count }}</span>
    </button>

    <div>
        {% for tag in post.tags.all %}
            <span class="badge bg-secondary">{{ tag.name }}</span>
        {% endfor %}
    </div>

    <!-- The post content -->
    <div class="markdown-body mb-3">{{ post.get_markdown }}</div>

    <!-- Back -->
    <a href="{% url 'post_list' %}">← Back</a>

    <hr>

    <!--Comments-->
    <h4>Comments ({{comments.count}})</h4>

    <ul class="list-group mb-3">
        {% for comment in comments %}
        <li class="list-group-item">
            <strong>{{ comment.author }}</strong> - {{ comment.created_at }}
            <div class="markdown-body mb-2">{{ comment.get_markdown }}</div>

            {% if user == comment.author %}
                <a href="{% url 'edit_comment' comment.id %}">Edit</a> |
                <a href="{% url 'delete_comment' comment.id %}" class="text-danger"
                    onclick="return confirm('Are you sure you want to delete this comment?');">Delete</a>
            {% endif %}
        </li>
    {% empty %}
        <li class="list-group-item">No comments</li>
    {% endfor %}
    </ul>

    <!--Add the comment-->
    {% if user.is_authenticated %}
        <h5>Add comment</h5>
        <form method="post" class="mt-4">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" name="comment_submit" class="btn btn-primary">Send</button>
        </form>
    {% else %}
        <p><a href="{% url 'login' %}">Enter</a> to leave a comment</p>
    {% endif %}

</div>

{% endblock %}