<!DOCTYPE html>
<html>
    {% if user == post.author %}
        <a href="{% url 'edit_post' post.id %}" class="btn btn-warning">✏️ Edit</a>
        <a href="{% url 'delete_post' post.id %}" class="btn btn-danger">🗑️ Delete</a>
    {% endif %}
    <head><title>{{ post.title }}</title></head>

    <body>
        {% load avatar_tags %}
        {% if user.is_authenticated %}
            <div class="d-flex align-items-center mb-2">
                {% avatar user size=40 %}
                <span class="ms-2" >{{ user.username }}</span>
            </div>
        {% endif %}

        <h1>{{ post.title }}</h1>
        <p class="text-muted">Author: {{post.author}} | {{ post.created_at }}</p>
        <!--<div>{{ post.content }}</div>-->
        <div class="mb-3">{{ post.get_markdown|safe }}</div>

        <!-- Likes -->
        
        <form action="{% url 'toggle_like' post.id %}" method="post">
            {% csrf_token %}
            <button type="submit" name="like_submit" class="btn btn-sm btn-outline-primary">
                {% if is_liked %}💙{% else %}🤍{% endif %} {{ total_likes}} likes
            </button>
        </form>

        <br>
        <a href="{% url 'post_list' %}">← Назад</a>

        <hr>

        <!--Comments-->
        <h4>Comments ({{comments.count}})</h4>

        <ul class="list-group mb-3">
            {% for comment in comments %}
            <li class="list-group-item">
                <strong>{{ comment.author }}</strong> - {{ comment.created_at }}
                <p>{{ comment.content }}</p>

                {% if user == comment.author %}
                    <a href="{% url 'edit_comment' comment.id %}">Edit</a>
                {% endif %}
            </li>
        {% empty %}
            <li class="list-group-item">No comments</li>
        {% endfor %}
        </ul>

        <!--Add the comment-->
        {% if user.is_authenticated %}
            <h5>Add comment</h5>
            <form method="post" class="mt-4">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" name="comment_submit" class="btn btn-primary">Send</button>
            </form>
        {% else %}
            <p><a href="{% url 'login' %}">Enter</a> to leave a comment</p>
        {% endif %}
    </body>
</html>